In [1]:
import math 
import string 
import re

import json 

import pandas as pd 
import sqlite3

In [2]:

def connect_to_db(db_path):
    conn = sqlite3.connect(db_path)
    c = conn.cursor()
    return conn, c

In [11]:
parent_path = '/home/ramprasad.sa'
db_path = f'{parent_path}/human_annotations_factuality/XSUM_CNN/set1/annotated/news_summaries_set1_final.db'
conn, c = connect_to_db(db_path)

In [12]:
qualified_annotators_billsum = ['ann_krcnbm', 'ann_hguilf']
qualified_annotators_news = ['ann_japq', 'ann_tpfo']
qualified_annotators_pubmed = ['ann_jclvzw', 'ann_eftpco']
df_annotations = pd.read_sql('SELECT * from label', conn)
# df_annotations = df_annotations[df_annotations['user_id'].isin(qualified_annotators_billsum)]

# df_annotations

In [13]:
list(set(df_annotations['user_id']))

['ann_tpfo', 'ann_japq', 'sanjana']

In [14]:

    
def remove_duplicates(df, qualified_annotators):
    processed_rows = []
    
    for annotator in qualified_annotators:
        
        df_qualified_annotators = df[df['user_id'] == annotator]
        for each_id in list(set(df_qualified_annotators['summary_uuid'].values)):
            df_uid = df_qualified_annotators[df_qualified_annotators['summary_uuid'] == each_id]
            if len(df_uid) == 1:
                row_append = df_uid.iloc[[0]]
            else:
                row_append = df_uid.iloc[[-1]]
            processed_rows.append(row_append)
            
    df_processed = pd.concat(processed_rows)
    return df_processed

In [15]:
df = remove_duplicates(df_annotations, qualified_annotators_news)
df.head()

,uuid,user_id,summary_uuid,summ_id,system_id,label_type,summary,nonfactual_sentences,article
210,211,ann_japq,c1de892aefd7aa1c6c0ad980039252b8c41f208b_flant...,cnndm_generic,flant5,factual,"Heather Mack, 19, is accused of murdering her ...",,The daughter of Chicago socialite Sheila Von W...
188,189,ann_japq,6662e68fa9d78198ba62bc347bfedd63dd9c6510_flant...,cnndm_generic,flant5,factual,Footage shows one of the men emerging from his...,,This is the shocking moment a BMW driver ramme...
204,205,ann_japq,9cc6721677443a0d3e8c61eeff14cd75f884ad5e_flant...,cnndm_generic,flant5,factual,"CCTV footage shows Petri Kurti, 13, murdering ...",,A boy of 13 has become one of the UK's younges...
20,21,ann_japq,30002988_gpt3_gen,xsum_generic,gpt3,non_factual,The number of children put up for adoption in ...,"Whereas there were 1,830 initial decisions to ...","In the three months to June 2014, there were 9..."
194,195,ann_japq,7a6310f1ca0afa6b09777e822b516fc1bf71aa34_flant...,cnndm_generic,flant5,factual,Nursultan Nazarbayev has been re-elected as pr...,,The leader of Kazakhstan has apologised after ...

In [16]:
len(df[df['user_id'] == 'ann_krcnbm'])

0

In [17]:
print(df['article'].values[12])

Paris in the spring is the time for lounging on  blankets in a park while taking in the spectacular views, sipping on local wine and nibbling on a fresh baguette and ripe Camembert. Going from shop to shop to collect all of the essentials for a picnic can be a pain, so a made-to-order delivery service is making it easier for tourists to enjoy the French capital like a local. Paris Picnics saves its customers from the hassle of trawling through the marché by delivering a freshly-prepared lunch to wherever they are in the city. Visitors or locals can select made-to-order picnic baskets filled with wine, baguettes, cheese and crisps . Customers can pick from one of the four picnic options on offer and order online. Le Classique picnic, which costs €55 (£40) for two people, comes with a choice of wine, baguettes, an assortment of cheeses, charcuterie, gourmet crisps, fresh fruit, a green salad, water and a seasonal dessert. Le Chic comes in at €85 ($62) and comes with all of the above, as well as Champagne, foie gras and macarons. Customers then select where and when they want their picnic delivered to. The company recommends giving them one to two days' notice but last-minute requests can be accommodated. The Tuileries gardens near the Louvre is one of Paris' perfect picnic spots in the spring time . For an additional fee, romantics can add a photo shoot, flowers or arrange a surprise set-up - perfect for those wanting to pop the question in the city of love. Each picnic includes cutlery and a cotton blanket  for sprawling on in the sunshine. And each one is delivered in a bright yellow Piaggio called Pepe. The picnics are the brainchild of American couple Patrick Johnson and Katia Kroupnik, who state on their website: 'Whether picnicking along the Canal St-Martin or under the Eiffel Tower, up in hilly Buttes Chaumont or in one of the countless parks that span Paris from the Bois de Boulogne to the Bois de Vincennes, it's easy to feel that Paris was made for le pique-nique. 'By partnering with artisan food and wine producers around France and offering free delivery to select locations across the city, Paris Picnic simplifies the process of planning and arranging a picnic.'

In [18]:
''' Annotator agreement 
Same labels 
Same labels and sentences 
'''
user_ids = list(set(df['user_id'].values))
df_ann1 = df[df['user_id'] == user_ids[0]]
df_ann2 = df[df['user_id'] == user_ids[1]]

df_ann1_overlap = df_ann1[df_ann1['summary_uuid'].isin(df_ann2['summary_uuid'].values)]
df_ann2_overlap = df_ann2[df_ann2['summary_uuid'].isin(df_ann1['summary_uuid'].values)]
df_ann1_overlap = df_ann1_overlap.sort_values(['summary_uuid'])
df_ann2_overlap = df_ann2_overlap.sort_values(['summary_uuid'])
assert(list(df_ann1_overlap['summary_uuid'].values) == list(df_ann2_overlap['summary_uuid'].values))

print('Progress', len(df_ann2_overlap)/100)
label_aggr_condition = df_ann2_overlap['label_type'].values == df_ann1_overlap['label_type'].values
sentence_aggr_condition = df_ann2_overlap['nonfactual_sentences'].values == df_ann1_overlap['nonfactual_sentences'].values

print(' Aggreement (labels only) : ', \
      len(df_ann2_overlap[label_aggr_condition])/len(df_ann2_overlap))
print(' Aggreement (labels and sentences) : ', 
     len(df_ann2_overlap[(label_aggr_condition) & (sentence_aggr_condition) ])/len(df_ann2_overlap))

Progress 1.0
 Aggreement (labels only) :  0.78
 Aggreement (labels and sentences) :  0.72

In [19]:
'''
Error Statistics:
Labeled as nonfactual --> absolute score (1/0)
Labeld as nonfactual --> get overlapping sentences --> get score of #nonfact sentences/len(summary sents)
Record relative scores and make a new df to get correlation
'''
import spacy
import numpy as np
nlp = spacy.load('en_core_web_sm')






def make_error_stats(datatypes, qualified_annotators, agreement):
    non_factual_dict = {
                    'article': [],
                    'summary': [],
                    'model' : [],
                    'data': [],
                    'non_factual_sents': [], 
                    'label_type': [], \
                  'num_summary_sents' : []}
    for datatype in datatypes:
        df_data = df[df['summ_id'] == f'{datatype}_generic']
        
        for model in ['flant5', 'gpt3']:
            df_model = df_data[df_data['system_id'] == model]

            for unique_ids in list(set(df_model['summary_uuid'])):
                
                df_uuid = df_model[df_model['summary_uuid'] == unique_ids]
                # print(df_uuid)
                article = df_uuid['article'].values[0]
                user_ids_uuid =   set(list(df_uuid['user_id'].values))
                summary = df_uuid['summary'].values[0]
                summ_sents =  list(nlp(summary).sents)
                sentences_ann = list(df_uuid['nonfactual_sentences'].values)
                    
                annotated_sentences = []
                for each_sent in sentences_ann:
                    score = 0
                    if each_sent:
                        score = len(each_sent.split('<new_annotation>'))
                    annotated_sentences.append(score)
                
                sentbased_score = np.mean(annotated_sentences)/len(summ_sents)
                # print(sentbased_score, annotated_sentences)
                non_factual_dict['article'] += [article]
                non_factual_dict['summary'] += [summary]
                non_factual_dict['model'] += [model]
                non_factual_dict['data'] += [datatype]
                non_factual_dict['non_factual_sents'] += [sentbased_score]
                label_type = 1 if sentbased_score >0 else 0
                non_factual_dict['label_type'] += [label_type]
                non_factual_dict['num_summary_sents'] += [len(summ_sents)]
                            
    return pd.DataFrame(non_factual_dict)

In [116]:
datatypes = ['xsum', 'cnndm']
# datatypes = ['billsum']
# datatypes = ['pubmed']
qualified_annotators = qualified_annotators_news
agreement = 2
df_error = make_error_stats(datatypes, qualified_annotators, agreement)
# df_error.to_csv(f'error_scores_{"_".join(datatypes)}.csv')
df_error

,article,summary,model,data,non_factual_sents,label_type,num_summary_sents
0,anaerobic oxidation of methane coupled to sul...,sr-aom community was enriched in a high-pressu...,flant5,pubmed,0.333333,1,3
1,a great deal of effort and expense are being ...,a java based linkage disequilibrium plotter,flant5,pubmed,0.000000,0,1
2,the renin-angiotensin system is a hormone sys...,"a simple, efficient method for the production ...",flant5,pubmed,0.000000,0,1
3,metabolomic profiling in general aims to iden...,"We introduce the marvis tool, which implements...",flant5,pubmed,0.000000,0,1
4,one of the critical considerations in cereal ...,rht genes and fusarium diseases in barley and ...,flant5,pubmed,1.000000,1,1
...,...,...,...,...,...,...,...
95,phage display libraries consist of small anti...,Phage display libraries are used for antibody ...,gpt3,pubmed,0.000000,0,4
96,quantitative real-time reverse transcription ...,The article discusses the importance of normal...,gpt3,pubmed,0.000000,0,4
97,gene knock out technology is widely used to s...,The article discusses the challenges associate...,gpt3,pubmed,0.000000,0,9
98,metabolomic profiling in general aims to iden...,"The article discusses Marvis, a tool for metab...",gpt3,pubmed,0.000000,0,6
99,the isolation of mycobacterium tuberculosis c...,Mycobacterium tuberculosis isolation from clin...,gpt3,pubmed,0.000000,0,4

In [117]:
####### News
for data in list(set(df_error['data'])):
    print('Data' , data)
    for model in list(set(df_error['model'])):
        print('Model', model)
        df_error_dm = df_error[(df_error['data'] == data) & (df_error['model'] == model)]
        num_non_factual = list(df_error_dm['label_type'].values)
        num_non_factual_sents = list(df_error_dm['non_factual_sents'].values)
        num_summ_sents = list(df_error_dm['num_summary_sents'].values)
        if len(df_error_dm):
            print('Avg num sentences', np.mean(num_summ_sents))
            # print(sum(num_non_factual)/len(df_error_dm))
            print(np.mean(num_non_factual_sents))

Data pubmed
Model flant5
Avg num sentences 2.28
0.06115196078431372
Model gpt3
Avg num sentences 5.46
0.028070818070818068

In [97]:
for model in list(set(df_error['model'])):
        print('Model', model)
        df_error_dm = df_error[(df_error['model'] == model)]
        num_non_factual = list(df_error_dm['label_type'].values)
        num_non_factual_sents = list(df_error_dm['non_factual_sents'].values)
        num_summ_sents = list(df_error_dm['num_summary_sents'].values)
        if len(df_error_dm):
            print('Avg num sentences', np.mean(num_summ_sents))
            # print(sum(num_non_factual)/len(df_error_dm))
            print(np.mean(num_non_factual_sents))

Model flant5
Avg num sentences 1.0
0.23
Model gpt3
Avg num sentences 4.84
0.2008095238095238

In [82]:
df_gpt

Empty DataFrame
Columns: [model, data, non_factual_sents, label_type, num_summary_sents]
Index: []

In [142]:
'''
Correlation of summary length with factuality score

'''

'\nCorrelation of summary length with factuality score\n\n'

In [145]:
import pandas as pd

def get_error_stats(df, data, qualified_annotators, agreement = 2):
    print('Fraction of factual errors')
    df_data = df[df['summ_id'] == f'{data}_generic']
    print(f'{data}_generic', len(df_data))
    for model in ['flant5', 'gpt3']:
        df_model = df_data[df_data['system_id'] == model]
        print(len(df_model))
        non_factual_num = []
        filtered_ids = []
        for unique_ids in list(set(df_model['summary_uuid'])):
            df_uuid = df_model[df_model['summary_uuid'] == unique_ids]
            user_ids_uuid =   set(list(df_uuid['user_id'].values))
            if len(user_ids_uuid) >= agreement:
                filtered_ids.append(unique_ids)
                label_types = list(df_uuid['label_type'].values)

                if len(set(label_types)) == 1:
                    if label_types[0] == 'non_factual':
                        non_factual_num.append(unique_ids)
        print(model, len(non_factual_num)/len(filtered_ids), len(filtered_ids))

In [146]:
get_error_stats(df, 'xsum', qualified_annotators_news)
get_error_stats(df, 'cnndm', qualified_annotators_news)

Fraction of factual errors
xsum_generic 98
49
flant5 0.5 24
49
gpt3 0.4583333333333333 24
Fraction of factual errors
cnndm_generic 45
22
flant5 0.0 7
23
gpt3 0.2857142857142857 7

In [63]:
def map_dicts(df):
    summary_annotations = {}
    label_annotations = {}
    sent_annotations = {}
    all_summ_uuids = sorted(list(set(df['summary_uuid'].values)), key = len)


    for idx, row in df.iterrows():
        user_id = row['user_id']
        summ_uuid = row['summary_uuid']
        label_type = row['label_type']
        nonfact_sents = row['nonfactual_sentences']

        if summ_uuid not in summary_annotations:
            summary_annotations[summ_uuid] = {}

        if user_id not in label_annotations:
            label_annotations[user_id] = {'factual': [], 'non_factual': []}
            sent_annotations[user_id] = [''] * len(all_summ_uuids)

        if label_type not in summary_annotations[summ_uuid]:
            summary_annotations[summ_uuid][label_type] = []

        summary_annotations[summ_uuid][label_type].append((user_id, nonfact_sents))

        label_annotations[user_id][label_type].append(summ_uuid)
    #     print(summ_uuid, all_summ_uuids.index(summ_uuid))
        sent_annotations[user_id][all_summ_uuids.index(summ_uuid)] = nonfact_sents
    
    return summary_annotations, label_annotations, sent_annotations

In [64]:
def compute_annotator_matrix_label(label_annotations):
    all_ann_ids = sorted(list(label_annotations.keys()), key = len)
    ann_matrix = {}
    ann_matrix['annotators'] = all_ann_ids
    for ann_id in all_ann_ids:
        if ann_id not in ann_matrix:
            ann_matrix[ann_id] = []
        ann_id_len = len(label_annotations[ann_id]['non_factual']) 
        for idx, other_ann_id in enumerate(all_ann_ids):
            num_factual_aggr = set(label_annotations[ann_id]['non_factual']).intersection(label_annotations[other_ann_id]['non_factual'])
            # num_nonfactual_aggr = set(label_annotations[ann_id]['factual']).intersection(label_annotations[other_ann_id]['factual'])
            ann_matrix[ann_id].append(len(num_factual_aggr)/ann_id_len)
    return ann_matrix

In [72]:
import numpy as np
def compute_annotator_matrix_sent(sent_annotations):
    all_ann_ids = sorted(list(label_annotations.keys()), key = len)
    ann_matrix = {}
    ann_matrix['annotators'] = all_ann_ids
    for ann_id in all_ann_ids:
        if ann_id not in ann_matrix:
            ann_matrix[ann_id] = []
            
        # ann_sents = sent_annotations[ann_id]
        
        for other_ann_id in all_ann_ids:
            other_ann_sent_counter = 0
            # other_ann_sents = sent_annotations[ann_id]
            # other_ann_sents = other_ann_sents.split('<new_annotation>')
            other_ann_sent_counter = []
            for idx, ann_sent in enumerate(sent_annotations[ann_id]):
#                 print(idx)
                other_ann_sent = sent_annotations[other_ann_id][idx]
                ann_sents_idx = ann_sent.split('<new_annotation>')
                other_ann_sents_idx = other_ann_sent.split('<new_annotation>')
                
                val = len(set(ann_sents_idx).intersection(other_ann_sents_idx))/len(ann_sents_idx)
                val = round(val, 1)
                # print(val)
                # if ann_sent == other_ann_sent:
                #     val = 1
                # elif (ann_sent in other_ann_sent) or (other_ann_sent in ann_sent):
                #     val = 0.5
                # else:
                #     val = 0
                other_ann_sent_counter += [val]
            ann_matrix[ann_id].append(np.mean(other_ann_sent_counter))
    return ann_matrix

In [73]:
summary_annotations, label_annotations, sent_annotations = map_dicts(df)

In [74]:
# label_annotations

In [75]:
ann_matrix = compute_annotator_matrix_label(label_annotations)
df_matrix = pd.DataFrame(ann_matrix)
df_matrix

  annotators  ann_japq  ann_tpfo
0   ann_japq   1.00000  0.675676
1   ann_tpfo   0.78125  1.000000

In [76]:
sent_matrix = compute_annotator_matrix_sent(sent_annotations)
df_sent_matrix = pd.DataFrame(sent_matrix)
df_sent_matrix

  annotators  ann_japq  ann_tpfo
0   ann_japq  1.000000  0.738272
1   ann_tpfo  0.749383  1.000000

In [74]:
len(label_annotations['ann_krcnbm']['non_factual'])

32