In [5]:
import math 
import string 
import re

import json 

import pandas as pd 
import sqlite3
import spacy
import numpy as np
from rouge import Rouge 
nlp = spacy.load('en_core_web_sm')

In [7]:
annotations_path = '/home/ramprasad.sa/factual_annotation_llm_summaries/annotations'
def read_files(task):
    df_errors = pd.read_csv(f'{annotations_path}/{task}_annotations_scores.csv')
    df_aggreg = pd.read_csv(f'{annotations_path}/{task}_annotations.csv')
    return df_aggreg, df_errors

In [13]:
def agreement_label(df):
    agreement_summ_ids = []
    for summid in list(set(df['summary_uuid'])):
        df_summ = df[df['summary_uuid'] == summid]
        if len(list(set(df_summ['label_type_ann1']))) > 1:
            print(summid)

# def annotator_agreement_scores(df):

In [14]:
df_errors_news, df_aggr_news = read_files('news')

In [17]:
df_errors_news[df_errors_news['summary_uuid'] == '40825915_gpt3_gen']

,Unnamed: 0,summary_uuid,pid,summary,article,summ_id,system_id,nonfactual_sentence,label_type_ann1,label_type_ann2,inaccuracy_severity_ann1,inaccuracy_severity_ann2,error_type_ann1,error_type_ann2,error_factuality_ann1,error_factuality_ann2,comments_ann1,comments_ann2
90,90,40825915_gpt3_gen,"['40825915_gpt3_gen_1', '40825915_gpt3_gen_0']",Bristol Rovers have signed Ryan Sweeney and Do...,"Sweeney, 20, made 16 appearances for Rovers du...",xsum_generic,gpt3,Bristol Rovers start their League One campaign...,factual,non_factual,NaN,minor,NaN,intrinsic,NaN,NaN,This one is accurate,Unclear if The Gas is a nickname for the Brist...
91,91,40825915_gpt3_gen,"['40825915_gpt3_gen_1', '40825915_gpt3_gen_0']",Bristol Rovers have signed Ryan Sweeney and Do...,"Sweeney, 20, made 16 appearances for Rovers du...",xsum_generic,gpt3,"Sweeney, named Young Player of the Year last s...",non_factual,non_factual,NaN,minor,NaN,intrinsic,NaN,NaN,NaN,Memorial Stadium is not mentioned in the source.

In [16]:
agreement_label(df_errors_news)

40825915_gpt3_gen
37653769_gpt3_gen