In [1]:
import json
import pandas as pd

In [2]:
def read_file(filepath):
    df_dict = {}
    with open(filepath, 'r') as fp:
        data = json.load(fp)
    for instance in data:
        for k , v in instance.items():
            if k not in df_dict:
                df_dict[k] = []
            df_dict[k].append(v)
    return pd.DataFrame(df_dict)

In [3]:
df = read_file('/home/ramprasad.sa/factual_annotation_llm_summaries/datasets/benchmark_llm/likert_evaluation_results.json')

In [21]:
df.to_csv('/home/ramprasad.sa/factual_annotation_llm_summaries/datasets/benchmark_llm/evaluation_results.csv')

In [4]:
df

,article,model,summary,faithfulness,annotator_id,dataset,coherence,relevance
0,"(CNN)Two years ago, the storied Boston Maratho...",openai_curie (0 shot),The two bombers who killed 3 and injured 264 w...,1,A132MSWBBVTOES,cnndm,1,2
1,"(CNN)Two years ago, the storied Boston Maratho...",openai_curie (0 shot),The two bombers who killed 3 and injured 264 w...,1,A171S8E9IFSHH2,cnndm,4,5
2,"(CNN)Two years ago, the storied Boston Maratho...",openai_curie (0 shot),The two bombers who killed 3 and injured 264 w...,1,A6KOTWP7N7RLU,cnndm,2,4
3,(CNN)Malala Yousafzai's stellar career has inc...,openai_curie (0 shot),NaN,1,A171S8E9IFSHH2,cnndm,5,5
4,(CNN)Malala Yousafzai's stellar career has inc...,openai_curie (0 shot),NaN,0,A2WGW5Y3ZFBDEC,cnndm,1,1
...,...,...,...,...,...,...,...,...
11095,"David Jacques, from the University of Buckingh...",openai_curie,A tunnel under Stonehenge could destroy the si...,1,A132MSWBBVTOES,xsum,3,2
11096,"David Jacques, from the University of Buckingh...",openai_curie,A tunnel under Stonehenge could destroy the si...,1,A6KOTWP7N7RLU,xsum,4,4
11097,"The man, who has not been named, was dismissed...",openai_curie,A fire service has been criticised after it to...,1,A132MSWBBVTOES,xsum,3,4
11098,"The man, who has not been named, was dismissed...",openai_curie,A fire service has been criticised after it to...,1,A6KOTWP7N7RLU,xsum,5,5
11099,"The man, who has not been named, was dismissed...",openai_curie,A fire service has been criticised after it to...,0,AKQAI78JTXXC9,xsum,5,4